table {
    border-collapse: collapse;
}

.esPrimeraFila {
    border-top: 1px solid #CAAFEE;
}

.esUltimaFila {
    border-bottom: 1px solid black;
}

.filaPar {
    background-color: chocolate;
}

.filaImpar {
    background-color: #FABADA;
}